*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar{
    width:100%;
    background:#004d66;
    padding:22px 20px;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar .logo{
    width:40px;
    margin-right:10px;
}

.navbar .title{
    font-size:18px;
    font-weight:600;
}

/* WRAPPER */
.container{
    display:flex;
}

/* SIDEBAR */
.sidebar{
    width:230px;
    background:#002d3d;
    height:100vh;
    padding-top:20px;
}

.sidebar a{
    display:block;
    padding:14px 20px;
    color:white;
    text-decoration:none;
    font-size:15px;
    border-left:4px solid transparent;
    transition: 0.3s ease;
}

.sidebar a:hover,
.sidebar .active{
    background:#003f52;
    border-left:4px solid #00c2ff;
     color: white;
    font-weight: 600;
}

/* CONTENT */
.content{
    flex:1;
    padding:30px;
    background:#f5f8fc;
}

.page-title{
    font-size:26px;
    margin-bottom:10px;
    font-weight:600;
}

/* ALERT BOX */
.alert-box{
    background:#ffeeba;
    color:#856404;
    padding:12px 15px;
    border-radius:5px;
    margin-bottom:20px;
    display:flex;
    align-items:center;
    gap:10px;
    font-weight:500;
    opacity:0;
    animation:fadeIn 1s forwards;
}

/* CARDS */
.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:25px;
}

.card{
    background:white;
    flex:1;
    min-width:180px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 12px rgba(0,0,0,0.08);
    text-align:center;
    opacity:0;
    transform: translateY(20px);
    animation:fadeInUp 0.6s forwards;
    transition: transform 0.3s, background-color 0.5s;
}

.card:hover{
    transform: translateY(-5px);
    background-color: #e6f2ff; /* Light blue effect */
}

.card h4, .card p{
    transition: color 0.3s;
}

.card-icon{
    color:#004d66;
    margin-bottom:10px;
}

/* QUICK ACTIONS */
.quick-actions{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.action-btn{
    background:#004d66;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
    font-size:15px;
    display:flex;
    align-items:center;
    gap:8px;
    opacity:0;
    animation:fadeIn 1s 0.3s forwards;
    transition: background 0.3s;
}

.action-btn:hover{
    background:#003f52;
}

/* Animations */
@keyframes fadeIn{
    to {opacity:1;}
}

@keyframes fadeInUp{
    to {opacity:1; transform: translateY(0);}
}

.animate-fade{
    animation:fadeIn 1s forwards;
}

.card-hover{
    cursor:pointer;
}
